/* Contenedor de la sección */
.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    height: 100vh;
    margin-top: 70px;
    flex-wrap: wrap; /* Ajusta los elementos en pantallas pequeñas */
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #ffcc00;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    color: #ff007f;
}

.descripcion {
    font-size: 16px;
    color: #dcdcdc;
    line-height: 1.6;
}

/* Estilos del canvas 3D */
.imagen-3d {
    flex: 1 1 600px;
    width: 100%;
    height: 600px;
    background-color: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsivo */
@media (max-width: 768px) {
    .perfil {
        flex-direction: column; /* Coloca los elementos en columna */
        align-items: center; 
        padding: 20px; 
    }

    .imagen-3d {
        width: 100%; /* Ocupa todo el ancho */
        max-width: 400px; 
        height: 400px; 
        margin-top: 20px; /* Espacio entre el texto y el modelo */
    }
}

@media (min-width: 769px) {
    .perfil {
        flex-direction: row; 
        align-items: center; 
    }

    .imagen-3d {
        width: 50%;
        height: 600px;
    }
}
